<div>
  You deposits
  <input type="text" value="" id="location" [(ngModel)]="annuity" /> at the beginning of the year and at the end of each month in an account that pays
  <input type="text" value="" id="location" [(ngModel)]="interestRate" /> compounded monthly for
  <input type="text" value="" id="location" [(ngModel)]="period" /> year(s). What is the amount in the account at the end?
  <button class="btn btn-outline" type="button" (click)="onAdd()">Calculate</button>
</div>

<hr/>
<div>
  <input type="text" value="" id="location" [(ngModel)]="ammount" /> is the amount in the account at the end.
</div>

<!-- <form class="form-group">
  <div class="form-group">
    <label>Job Description:</label>
    <textarea placeholder="" class="form-control" [(ngModel)]="inComingItem"></textarea>
  </div>
  <div class="form-group">
    <label>Requirement:</label>
    <textarea placeholder="" class="form-control" [(ngModel)]="inComingItem"></textarea>
  </div>
  <div class="form-group">
    <label>Location:</label>
    <input type="text" value="" class="form-control" id="location" [(ngModel)]="inComingItem" />

  </div>
  <div class="form-group">
    <label>Salary:</label>
    <input type="text" value="" class="form-control" id="salary" [(ngModel)]="inComingItem" />
  </div>

  <button class="btn btn-outline" type="button" (click)="onAdd()">Add</button>

</form> -->